<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Testing the images diagnosis app :</h2>
<form method="post" enctype="multipart/form-data" action="malaria_diagnose">
   {%  csrf_token %}
    <div class="col-md-4 col-sm-4">
        <label for='filePath'>Upload Image File : </label>
        <input name="filePath" type="file">
        <input type="submit" value="Submit">
    </div>
    <div>
        <img src="{{filePathName}}" alt="imagename">
        <h2>The image is : {{label}}</h2>
    </div>
</form>


</body>
</html>