.formcontainer {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#entity {
    background:#E9E9F0;
    padding: 25px;
    margin: 30px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#entity h3{
    text-align: center;
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}
#entity p{
    text-align: center;
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 10px;
}
fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}
#entity input, select{
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}
#entity input:hover{
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}
#entity button{
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}
#entity button:hover{
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
#entity button:active{
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}