{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="formcontainer">
    <div id="entity">
        <h3>Bill</h3>
        <div style="overflow: hidden;">
            <p style="float: left;">Day of the appointment: </p><p style="float: right;">{{bill.consultation.appointment.day}}</p>
        </div>
        <div style="overflow: hidden;">
            <p style="float: left;">Time: </p><p style="float: right;">{{bill.consultation.appointment.start_time}} - {{bill.consultation.appointment.end_time}}</p>
        </div>
        <div style="overflow: hidden;">
            <p style="float: left;">Doctor: </p><p style="float: right;">{{bill.consultation.doctor.last_name}} {{bill.consultation.doctor.first_name}}</p>
        </div>
        <div style="overflow: hidden;">
            <p style="float: left;">Patient: </p><p style="float: right;"><a href="{% url 'patient' bill.consultation.appointment.patient.id %}">{{bill.consultation.appointment.patient.last_name }} {{bill.consultation.appointment.patient.first_name}}</a></p>
        </div>
        <div style="overflow: hidden;">
            <p style="float: left;">Fee: </p><p style="float: right;">{{bill.fee}}</p>
        </div>
        <div style="overflow: hidden;">
            <p style="float: left;">Fee: </p><p style="float: right;">{{bill.payment_state}}</p>
        </div>
    </div>
</div>

{% endblock %}