{% extends "base.html" %}
{% load static %}

{% block content %}
        <div>
            <br>
            <h3>My Bills :</h3>
            <br>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                      <th scope="col">Consultation Id</th>
                      <th scope="col">Fee</th>
                      <th scope="col">Repayment rate</th>
                      <th scope="col">Payment state</th>
                      <th scope="col">Pay</th>
                    </tr>
                </thead>
                <tbody>
                   {% for item in items %}
                    <tr>
                      <td>{{item.consultation.id}}</td>
                      <td>{{item.fee}}</td>
                      <td>{{item.consultation.appointment.patient.insur_acc_nb.insuranceAgency.repayment_rate}} %</td>
                      <td>{% if item.payment_state == 'Pending' %} <div style="color:red"> {{ item.payment_state }} </div>  {% else %} <div style="color:green"> {{ item.payment_state }} {% endif %} </td>
                      <td><a href="#">Pay</a></td>
                    </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>
        {% include '../../pagination.html' with page=items %}

{% endblock %}