{% extends "base.html" %}
{% load static %}

{% block content %}
        <div>
            <br>
            <h3>My Documents :</h3>
            <br>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                      <th scope="col">Title</th>
                      <th scope="col">Type</th>
                      <th scope="col">Doctor</th>
                      <th scope="col">Link</th>
                      <th scope="col">Observation</th>
                    </tr>
                </thead>
                <tbody>
                   {% for item in items %}
                    <tr>
                      <td>{{item.title}}</td>
                      <td>{{item.type}}</td>
                      <td>{{item.doctor}}</td>
                      <td><a href="{{item.link}}">Preview</a></td>  <!--<img src="#">-->
                      <td>{{item.observation}}</td>
                    </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>
        {% include '../../pagination.html' with page=items %}

{% endblock %}