{% extends "base.html" %}
{% load static %}

{% block content %}
        <div>
            <br>
            <h3>My Inssurances :</h3>
            <br>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                      <th scope="col">Account Number</th>
                      <th scope="col">Insurance Agency</th>
                      <th scope="col">Email</th>
                      <th scope="col">Phone</th>
                      <th scope="col">Repayment rate</th>
                    </tr>
                </thead>
                <tbody>
                   {% for item in items %}
                    <tr>
                      <td>{{item.insur_acc_nb}}</td>
                      <td>{{item.insuranceAgency.name}}</td>
                      <td>{{item.insuranceAgency.email}}</td>
                      <td>{{item.insuranceAgency.phone_nb}}</td>
                      <td>{{item.insuranceAgency.repayment_rate}}</td>
                    </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>
        {% include '../../pagination.html' with page=items %}

{% endblock %}